body {
	background: #fff !important;
}

* {
	outline: none !important;
}

button:focus {
	outline: none;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 0.5rem 1rem;
	box-shadow: 0 0 0.5rem #ccc;
}

a {
	color: #555 !important;
}
a:hover {
	color: #333 !important;
}
.container {
	max-width: 800px !important;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 3rem;
}
.mb-4 {
	margin-bottom: 4rem;
}
.mb-5 {
	margin-bottom: 5rem;
}
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}
.mt-4 {
	margin-top: 4rem;
}
.mt-5 {
	margin-top: 5rem;
}

.mr-1 {
	margin-right: 1rem;
}
.mr-2 {
	margin-right: 2rem;
}
.mr-3 {
	margin-right: 3rem;
}

.ml-1 {
	margin-left: 1rem;
}
.ml-2 {
	margin-left: 2rem;
}
.ml-3 {
	margin-left: 3rem;
}

.mx-1 {
	margin: 0 1rem;
}
.mx-2 {
	margin: 0 2rem;
}
.mx-3 {
	margin: 0 3rem;
}
.mx-4 {
	margin: 0 4rem;
}
.mx-5 {
	margin: 0 5rem;
}

.mx-a {
	margin: 0 auto;
}

.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}
.my-4 {
	margin: 4rem 0;
}
.my-5 {
	margin: 5rem 0;
}

.px-1 {
	padding: 0 1rem;
}
.px-2 {
	padding: 0 2rem;
}
.px-3 {
	padding: 0 3rem;
}

.bold {
	font-weight: 500;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: #f25c5d !important;
}

.font-size-small {
	font-size: 80%;
}

.font-size-medium {
	font-size: 90%;
}

.font-size-big {
	font-size: 120%;
}

.input_btn .el-input .el-input__inner {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input_btn .el-button.is-circle {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.list_title {
	font-weight: 500;
}

.input .flex {
	display: flex;
}

.flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}
.justify-content-space-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center !important;
}

.el-page-header {
	align-items: center;
}

.el-menu.el-menu--horizontal {
	border: none;
}

#app {
	margin-top: 6rem;
}

.el-page-header__left {
	margin-right: 25px !important;
}

.el-page-header__left::after {
	right: -8px !important;
}

.el-avatar.primary {
	background: #f56c6c;
}

#burger {
	display: none;
}
@media (max-width: 768px) {
	.container {
		padding: 15px 0 60px 0;
		/* font-size: 0.8rem; */
	}
	.show-icon {
		display: none;
	}

	.border-round {
		border-radius: 1.5rem !important;
	}

	.button-wide {
		width: 100%;
	}

	#app {
		margin-top: 2rem;
	}

	.header {
		display: none;
	}

	#burger {
		display: inline-block;
	}
	.menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		bottom: 0;
		color: #898989;
		font-size: 1.5rem;
		width: 100%;
		background: #fff;
		padding: 0.5rem 1rem;
		box-shadow: 0 0 0.5rem #ccc;
	}

	.nav_header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
	}

	.list {
		padding: 10px;
	}

	.el-timeline {
		padding-inline-start: 0;
	}

	.el-timeline-item__wrapper {
		padding-left: 20px;
		top: -4px;
	}

	.el-form-item {
		margin-bottom: 18px;
	}

	.el-form-item__error {
		padding-top: 2px;
		font-size: 13px;
	}

	.el-message-box {
		width: 100% !important;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.el-dialog__header {
		font-size: 1rem;
	}

	.el-dialog__body {
		padding: 5px 20px 20px 20px !important;
	}

	.edit-modal .el-dialog__body,
	.delete-modal .el-dialog__body {
		padding: 20px 0 !important;
		max-width: 300px;
		margin: auto;
	}

	.el-dialog .el-input input,
	.el-dialog .el-input-number .el-input__inner {
		background: #eee;
		border-radius: 1.2rem;
		overflow: hidden;
	}

	.el-dialog .el-input-number__decrease {
		border-radius: 1.2rem 0 0 1.2rem;
	}

	.el-dialog .el-input-number__increase {
		border-radius: 0 1.2rem 1.2rem 0;
	}

	.grey.el-input .el-input__inner,
	.grey.el-textarea .el-textarea__inner,
	.grey.el-select .el-input__inner,
	.grey.el-input-number .el-input__inner {
		background-color: #eee;
	}

	.grey.el-input .el-input__inner::placeholder,
	.grey.el-textarea .el-textarea__inner::placeholder,
	.grey.el-select .el-input__inner::placeholder,
	.grey.el-input-number .el-input__inner::placeholder {
		color: #888;
	}

	.el-dialog .el-input--medium .el-input__inner::placeholder {
		color: #999;
	}

	.el-dialog__footer {
		width: 100%;
		text-align: center !important;
	}

	.dialog-footer .el-button.is-round {
		min-width: 300px;
	}

	.dialog-footer .el-button + .el-button {
		margin-left: 0;
		margin-top: 10px;
	}

	.el-input .el-input__clear {
		color: #f25c5d !important;
	}

	.filter .el-tag {
		font-size: 14px;
	}
	.el-dialog__wrapper .el-dialog {
		position: fixed;
		margin: 0;
		background: #ffffff;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		width: 100%;
		bottom: 0;
		z-index: 3000;
	}

	.el-page-header__content {
		font-size: 14px !important;
		font-weight: 500 !important;
	}

	.el-page-header__title {
		font-weight: 400 !important;
	}

	.el-notification {
		width: 310px !important;
	}

	.el-notification.right {
		right: 5px !important;
	}

	/* .el-input-number--medium .el-input-number__increase,
		.el-input-number--medium .el-input-number__decrease,
		.el-input .el-input__inner {
			border-radius: 2rem;
		} */

	.el-dialog .el-input + .el-input,
	.el-dialog .el-input + .el-input-number,
	.el-dialog .el-input-number + .el-input,
	.el-dialog .el-input-number + .el-select,
	.el-dialog .el-input + .el-select,
	.el-dialog .el-select + .el-input-number {
		margin-top: 0.5rem;
		width: 100%;
	}

	.subtitle {
		font-weight: 500;
		color: #555;
	}

	.v-badge {
		background: #f25c5d;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 30px;
		border-radius: 0.25rem;
		padding: 0.15rem 0.35rem 0.25rem 0.35rem;
		line-height: 0.85;
		font-size: 0.7rem;
		color: #fff;
		margin-top: 0.25rem;
		align-self: baseline;
	}

	.el-card .el-card__body {
		padding: 8px;
	}

	.el-card.grey {
		background: #fafafa;
	}

	.el-divider--horizontal {
		margin: 12px 0;
	}

	.el-tag.el-tag--mini {
		line-height: 17px;
		border-radius: 1rem;
	}

	.add_dish .el-radio-group {
		width: 100%;
	}

	.add_dish .el-radio-button {
		width: 33%;
	}

	.add_dish .el-radio-button--medium .el-radio-button__inner {
		width: 100%;
	}

	.el-collapse-item__header {
		font-size: 18px;
		font-weight: 500;
		color: #f56c6c;
	}
}
